
/*  */
/*--------------------------------------------------------------------------------------------------
                               Extra Large Desktops :1400px.= xxl
---------------------------------------------------------------------------------------------------*/
@media (min-width: 1400px) and (max-width: 2000px) {







}

/*--------------------------------------------------------------------------------------------------
                               Large Desktops :1200px.= xl
---------------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) and (max-width: 1399.98px) {







}

/*--------------------------------------------------------------------------------------------------
                               Normal Desktops :992px.= lg
---------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	





}

/*--------------------------------------------------------------------------------------------------
                               Medium Devices Tablets :768px.= md
---------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	.main-menu ul li{
		margin-right: 25px;
	}
	.main-menu ul li:last-child{
		margin-right: 0;
	}

	.main-menu ul li a{
		font-size: 16px;
	}
	.slider-content h2 {
		font-size: 32px;
	}
	.service-content p{
		font-size: 14px;
	}
	.single-service h4 {
		font-size: 24px;
		margin-bottom: 5px;
	}
	.about-us p {

		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
	}
	.icon ul li img {
		width: 50%;
	}
	.icon ul li {
		margin: 0 10px;
		padding: 0;
		width: 100px;
	}





}

/*--------------------------------------------------------------------------------------------------
                               Small Devices Phones :576px.= sm
---------------------------------------------------------------------------------------------------*/
@media (max-width: 767.98px) {

	.header-area {
		height: 100px;
	}
	.logo img {
		margin-top: 0;
	}
	.slider-content h2 {
		font-size: 24px;
		line-height: 40px;
	}
	.section-title h3 {
		font-size: 42px;
	}
	.services-area .section-title p {

		line-height: 28px;
		font-size: 16px;
	}
	.service-content p{
		font-size: 14px;
	}
	.single-service h4 {
		font-size: 24px;
		margin-bottom: 5px;
	}
	.about-us p {
		font-size: 14px;
		line-height: 25px;
	}
	.about-us .section-title h3::before {
		width: 205px;

	}
	.icon ul li {
		margin: 0 5px;
		padding: 0;
		width: 100px;
	}
	
	





}

















/* Extra Small Devices Phones :350px. */
@media only screen and (min-width: 350px) and (max-width: 450px) {
	.container {width:400px}

	





}